name = "NQCModels"
uuid = "c814dc9f-a51f-4eaf-877f-82eda4edad48"
version = "1.0.3"
authors = ["James Gardner <james.gardner1421@gmail.com>"]

[deps]
AtomsBase = "a963bdd2-2df7-4f54-a1ee-49d51e6be12a"
AtomsCalculators = "a3e0e189-c65a-42c1-833c-339540406eb1"
BSplineKit = "093aae92-e908-43d7-9660-e50ee39d5a0a"
DataInterpolations = "82cc6244-b520-54b8-b5a6-8a565e85f1d0"
DelimitedFiles = "8bb1440f-4735-579b-a4ab-409b98df4dab"
FastGaussQuadrature = "442a2c76-b920-505d-bb47-c5924d526838"
ForwardDiff = "f6369f11-7733-5829-9624-2563aa707210"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
NQCBase = "78c76ebc-5665-4934-b512-82d81b5cbfb7"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
Unitful = "1986cc42-f94f-5a68-af5c-568840ba703d"
UnitfulAtomic = "a7773ee8-282e-5fa2-be4e-bd808c38a91a"

[sources]
JuLIP = {url = "https://github.com/JuliaMolSim/JuLIP.jl.git"}

[compat]
AtomsBase = "0.5"
AtomsCalculators = "0.2"
BSplineKit = "0.19.0"
DataInterpolations = "8.0"
DelimitedFiles = "1.9.1"
FastGaussQuadrature = "0.4, 0.5, 1"
FiniteDiff = "2.27.0"
ForwardDiff = "0.10"
NQCBase = "1.0"
Parameters = "0.12"
PythonCall = "0.9.24"
RecipesBase = "1"
Reexport = "1"
Requires = "1"
StaticArrays = "1"
Statistics = "1.11"
Unitful = "1"
UnitfulAtomic = "1"
julia = "1"

[extras]
FiniteDiff = "6a86dc24-6348-571c-b903-95158fe2bd41"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
JuLIP = "945c410c-986d-556a-acb1-167a618e0462"
NQCDInterfASE = "4606675f-2246-4a0b-99d5-75b910de637b"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PyCall = "438e738f-606a-5dbb-bf0a-cddfbfd45ab0"
PythonCall = "6099a3de-0909-46bc-b1f4-468b9a2dfc0d"
SafeTestsets = "1bc83da4-3b8d-516f-aca4-4fe02f6d838f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Plots", "PyCall", "SafeTestsets", "Test", "FiniteDiff", "JuLIP", "PythonCall", "InteractiveUtils"]
